body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.slide-section {
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  box-shadow: -0.5rem 0 1rem grey;
  padding: 1rem;
  width: 20rem;
}

.slide-content {
  flex-grow: 1;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.1s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}

/* Chang the title slide, to remove the map and show an image instead */
body.title-mode .map {
  display: none;
}

body.title-mode main {
  display: block;
}

body.title-mode .slide-section {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  box-shadow: none;
}

/* Simple layout the title image */
.title-image {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.title-image img {
  flex: 1 1 45%;
  max-width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* Embed Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  margin-top: 1rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
